[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
scrapy = "*"
flake8 = "*"
isort = "*"
black = "*"
uvicorn = "*"
requests = "*"
scrapy-playwright = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
